body{
    font-family: "Trirong", serif;
}
.header{
    width: 100%;
    height: 150px;
    background: #151b2f;
    position: fixed;

}
img{
    width: 20%;
    height: 150px;
}
.menus{
    position: relative;
    margin: 0;
    margin-left: 600px;
    margin-top: -150px;
}
.menus ul{
    position: relative;
    display: flex;
    color: aliceblue;
    list-style: none;
    gap: 100px;
    
}
.menus ul li a:hover{
    display: flex;
    color: aliceblue;
    list-style: none;
    gap: 80px;
    background-color: rgb(33, 29, 76);
    border-radius: 15px;
    
}
.menus ul li a{
    position: absolute;
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

.menu2{
    margin-top: 40px;
    margin-left: 400px;

}
.menu2 ul{
    width: 90%;
    height: 50px;
    background: #fff;
    display: flex;
    list-style: none;
    gap: 40px;
    text-align: center;
    gap:130px;
}
.menu2 ul li{
    color: #151b2f;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}





.menu2 ul li a{
    position: absolute;
    color: rgb(13, 19, 24);
    font-weight: bold;
    text-decoration: none;
}

 
.img1{

    width: 100%;
    height: 600px;
    
}
.content{
    margin-top: -520px;
    margin-left: 50px;
}
.content h1{
    font-weight: bolder;
    color: #222b49;
    font-size: 40px;
}
.content h3{
    font-weight: bolder;
    color: #222b49;
    font-size: 20px;
}
.img2{
    
    width: 60%;
    height: 500px;
    margin-left: 500px;
    margin-top: -400px;
}
.women3pic{
    width: 40%;
    height: 300px;
    margin-top: 50px;


}

.text1{
    width: 40%;
    background-color: #fdfdfd;
    margin-left: 600px;
    margin-top: -300px;
    font-size: 20px;
    border-radius: 5px;
}
.text1 p{
    font-weight: normal;
    font-size: 15px;
}
.text2 p{
    font-weight: normal;
    font-size: 15px;
}
.text1:hover{
    width: 40%;
    background-color: #b5b2b2;
    margin-left: 600px;
    margin-top: -300px;
    font-size: 20px;
    transition: all ease 3s;
}
.text2{
    width: 40%;
    background-color: #fdfdfd;
    margin-left: 600px;
    margin-top: -00px;
    font-size: 20px;
    
}

.text2:hover{    width: 40%;
    background-color: #b5b2b2;
    margin-left: 600px;
    margin-top: -00px;
    font-size: 20px;
    transition: all ease 3s;
}






.text3 p{
    font-weight: normal;
    font-size: 15px;
}
.text3{
    width: 40%;
    background-color: #fdfdfd;
    font-size: 25px;
    margin-top: -40px;
    margin-left: 30px;
    
}

.text3:hover{ 
    width: 40%;
    background-color: #c1b7b7;
    font-size: 25px;
    margin-top: -40px;
    margin-left: 30px;
    border-radius: 5px;
    transition: all ease 3s;
}

.bigpic{
    width: 100%;
    height: 1150px;
    background-image: url(pic/stats-blue-800.jpg.jpeg);
}

.boyimg{
    width: 50%;
    height: 400px;
    margin-top: -50px;
}
.prayers{
    width: 50%;
    height: 400px;
    margin-left: 600px;
    margin-top: -300px;
}
.view{
    width: 50%;
    height: 400px;
    margin-top: -280px;
}
.texts1{
    color: aliceblue;
    margin-left: 700px;
    margin-top: -300px;
}
.texts2{
    color: aliceblue;
    margin-left: 20px;
   
}
.texts3{
    margin-left: 700px;
    color: white;
}
.part2Text{
    color: rgb(28, 13, 52);
}



.content2{
    float: left;
    width: 60%;
    height: 390px;
    background: #edf7fa;
    margin-left: 450px;
    color: #151b2f;
    justify-content: left;
    text-align: left;
    margin-top: -400px;
    
}

.house{
    width: 50%;
    height: 350px;
    top: -350px;
    left: 10px;

}
.content2 ul li{
    list-style: none;
}
.content2 ul li a{
    margin-left: 300px;
    font-size: 25px;
    color: #151b2f;
    text-decoration: none;
    font-style: oblique;
    
}

.grid1{
    font-size: 25px;
    margin-left: 50px;
    color: #151b2f;
}
.gramer{
    width: 25%;
    height: 200px;
}

.second{
    display: flex;
}
.after{

    font-size: 22px;
    margin-left: 30px;
}

.story{
    font-size: 25px;
}

.grid3{

    width: 100%;
    height: 400px;
}
.childs{

    width: 30%;
    height: 50vh;
}
.third{
    font-size: 20px;
    margin-left: 450px;
    margin-top: -470px;
}
.withpastortext{
    width: 60%;
    height: 500px;
    background: #222b49;
    color: #edf7fa;
    font-size: 30px;
    text-align: center;
}

.imgwithpastor{
    width: 44%;
    height: 560px ;
    margin-left: 700px;
    margin-top: -530px;
}

.secondnav{
    width: 100%;
    height: 120px;
    background: #0f0e2a;

}
.secondnav ul{
    display: flex;
    gap: 0px;
    list-style: none;
    margin-top: 100px;
    padding: 10px;
    
}

.secondnav ul li{
   margin-top: 50px;
   margin-left: 120px;
}

.secondnav ul li:hover{
    margin-top: 50px;
    margin-left: 120px;
    background: rgb(22, 21, 81);
    border-radius: 5px;

 }



.secondnav ul li a{
    color: #edf7fa;
    text-decoration: none;
    text-align: center;
    top: 10px;

}



.ll11{
    display: flex;
    gap: 3rem;
    align-items: center;
}.numside p{
    font-size: 1.7rem;
    margin-top: 2rem;
}
.numside h2{
    font-size: 4rem;
    margin-bottom: 2rem;

}.contside p{
    font-size: 1.5rem;
}.contside:hover{
    background-color: #E1E8F2;
    padding: 1rem;
}.list15{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;

}

.footer{
    width: 100%;
    height: 100px;
    background-color: #a0a9af;

}

.footer ul {
   display: flex;
   
   
}
.footer ul li{
    list-style: none;
    
}
.footer ul li a{

    
}
